*{
    margin: 0;
    font-family: Noto Sans;
}
.orang{
    color: #cc3900;
    &:hover{
        color: #000;
    }
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1904px;
    margin: auto;
    padding: 30px 0;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
header li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
header div{
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1904px;
    margin: auto;
    padding: 20px 0;
}
.fd2{
    display: grid;
    justify-items: center;
    gap: 20px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
footer li{
    list-style: none;
}
footer ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
footer p a{
    text-decoration: none;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ml{
    font-family: Noto Sans;
}

@media screen and (max-width:1024px) {
    header{
        gap: 20px;
        justify-content: space-between;
        margin: 0 20px;
    }
    #menu{
        display: block;
    }
    header ul, header div{
        display: none;
    }
    footer{
        gap: 20px;
    }
    
}
@media screen and (max-width:767px) {

    .fd2 ul{
        display:none;
    }
    
}