*{
    margin: 0;
    font-family: Noto Sans;
}
.orang{
    color: #cc3900;
    &:hover{
        color: #000;
    }
}
a:hover{
    color: #cc3900;
    transition: all 0.3 ease-in-out;
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1904px;
    margin: auto;
    padding: 30px 0;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
header li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
header div{
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
#menu{
    display: none;
}

.s1{
    background-color: #FBBBCD;
    padding: 178px 0;
    display: grid;
    align-items: center;
    justify-items: center
}.s1 h1{
    font-family: Gloria Hallelujah;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0;
}
.s2{
    display: grid;
    justify-items: center;
    gap: 20px;
}
.s2>p{
    padding-top: 20px;
    color: #7A7A7A;
}
.s2 div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1440px;
    margin: auto;
    gap: 30px 10px;
}
.s2 img{
    width: 463px;
    height: 463px;
    object-fit: cover;
}
.read{
    font-style: 14px;
    line-height: 21px;
    color: #605be5;
    text-decoration: none;
}
.date{
    color: #9C9C9C;
    font-size: 14px;
    line-height: 21px;
}
.date>a{
    color: #9C9C9C;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.s2>a{
    color: #fff;
    background-color: #605be5;
    padding: 14px 26px;
    border-radius: 6px;
    text-decoration: none;
    border: solid 1px #605be5;
    &:hover{
        color: #605be5;
        background-color: #fff;
    }
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1904px;
    margin: auto;
    padding: 20px 0;
}
.fd2{
    display: grid;
    justify-items: center;
    gap: 20px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
footer li{
    list-style: none;
}
footer ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
footer p a{
    text-decoration: none;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ml{
    font-family: Noto Sans;
}

@media screen and (max-width:1024px) {
    header{
        gap: 20px;
        justify-content: space-between;
        margin: 0 20px;
    }
    #menu{
        display: block;
    }
    header ul, header div{
        display: none;
    }
    .s2 div{
        max-width: min-content;
        grid-template-columns: none;
    }
    footer{
        gap: 20px;
    }
    
}
@media screen and (max-width:767px) {

    .s2 img{
        max-width: 300px;
        max-height: 300px;
    }
    .fd2 ul{
        display:none;
    }    
}
