*{
    margin: 0;
    font-family: Noto Sans;
}
.orang{
    color: #cc3900;
    &:hover{
        color: #000;
    }
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1904px;
    margin: auto;
    padding: 30px 0 70px 0;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
header li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
header div{
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

section{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 320px;
}
main{
    background-image: url(../img/index/logo-s1.png);
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 68%;
    background-size: 24%;
}
.a1 h1{
    font-family: Gloria Hallelujah;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0;
    font-weight: 400;
    padding-bottom: 20px;
}
.a1>p{
    padding-bottom: 30px;
}
.a1 div{
    display: flex;
    padding-bottom: 50px;
}
.a1 div p{
    font-family: Gloria Hallelujah;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
}
.a1 i{
    margin-right: 20px;
    color: #cc3900;
}
form{
    max-width: 456px;
}
main form div{
    display: grid;
    padding: 10px 0;
}
form input{
    padding: 10px 0 10px 10px;
    border-radius: 6px;
}
form textarea{
    resize: none;
    border-radius: 6px;
    padding: 10px;
}
#send{
    background-color: #FBBBCD;
    padding: 20px 0;
    border-radius: 20px;
    color: #fff;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1904px;
    margin: auto;
    padding: 70px 0 20px 0;
}
.fd2{
    display: grid;
    justify-items: center;
    gap: 20px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
footer li{
    list-style: none;
}
footer ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
footer p a{
    text-decoration: none;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ml{
    font-family: Noto Sans;
}

@media screen and (max-width:1024px) {
    header{
        gap: 20px;
        justify-content: space-between;
        margin: 0 20px;
    }
    #menu{
        display: block;
    }
    header ul, header div{
        display: none;
    }
    main{
        background-size: 80%;
        background-position: 140% 105%;
        margin: 0 20px;
    }
    section{
        gap: 30px;
        grid-template-columns: none;
    }
    footer{
        gap: 20px;
    }
    
}
@media screen and (max-width:767px) {
    main{
        background-size: 100%;
        background-position: 140% 65%;
    }

    .fd2 ul{
        display:none;
    }
    
}