*{
    margin: 0;
    font-family: Noto Sans;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1904px;
    margin: auto;
    padding: 30px 0;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
header li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
header div{
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.orang{
    color: #cc3900;
}