*{
    margin: 0;
    font-family: Noto Sans;
}
.orang{
    color: #cc3900;
    &:hover{
        color: #000;
    }
}

/* Header */
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1904px;
    margin: auto;
    padding: 30px 0;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
header li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
header div{
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
/* Main */
    /* section 1 */
    .s1{
        max-width: 1904px;
        margin: auto;
        padding: 50px 0;
        background-image: url(../img/index/logo-s1.png);
        background-repeat: no-repeat;
        background-size: 900px;
        background-position-x: 1010px;
        background-position-y: -130px;
    }
    .s1d1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 340px;
        max-width: 1440px;
        margin: auto;
        align-items: center;
    }
    .s1 h1, .s1 h2{
        font-family: Gloria Hallelujah;
        padding: 20px 0;
    }
    .s1 h1{
        font-size: 45px;
        line-height: 45px;
        padding-top: 60px;
    }
    .s1 h2{
        font-size: 28px;
        line-height: 28px;
    }
    .bvn{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #cc3900;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 24px;
    }
    hr {
        border: none;
        border-top: 2px solid #cc3900;
        overflow: visible;
        width: 50px;
    }
    .s1p{
        padding: 20px 0 50px 0;
    }
    .s1>div>article>a{
        border: 1px solid #fbbbcd;
        padding: 10px 20px;
        text-decoration: none;
        color: #000;
    }

/* Section 2 */

    .s2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 80px;
    }
    .text{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #FBBBCD;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 27px;
    }
    .text div{
        max-width : 652px;
        margin: auto;
    }
    .s2p{
        padding: 20px 0;
    }
    .s2 h2{
        font-family: Gloria Hallelujah;
        font-size: 45px;
        line-height: 45px;
        padding-bottom: 50px;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 380px);
        gap: 10px;
        padding: 10px;
    }
    .one{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .two{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .three{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .four{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .five{
        width: 100%;
        object-fit: cover;
        height: 100%;
        grid-column: 1/3;
        
    }
    .six{
        width: 100%;
        object-fit: cover;
        height: 100%;
        grid-column: 3/5;
    }
    .s2 a{
        width: max-content;
        color: #000;
    }
/* Section 3 */

    .s3{
        max-width: 1440px;
        margin: auto;
        padding: 60px 0;
    }
    .s3a1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
    .s3a1 h2{
        font-family: Gloria Hallelujah;
        font-size: 45px;
        line-height: 45px;
    }
    .s3a1 a{
        text-decoration: none;
        color: #000;
        border: 1px solid #FBBBCD;
        padding: 10px 20px;
        font-weight: 500;
    }
    .s3a2{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 30px;
    }    
    .s3a2 div{
        text-align: center;
    }
    .s3a2 img{
        object-fit: cover;
        width: 330px;
        height: 300px;
    }
    .s3a2 h3{
        font-family: Gloria Hallelujah;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0;
    }
    .s3a2 p{
        padding: 10px;
        line-height: 24px;
    }

    .s4{
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: #f7f7f7;
        padding: 60px;
        gap: 80px;
    }
    .s4 h2{
        font-family: Gloria Hallelujah;
        font-size: 45px;
        line-height: 45px;
        letter-spacing: 0;
    }
    #artiste{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 30px;
    }
    #artiste article{
        max-width: 474px;
        margin: auto;
        display: grid;
        gap: 14px;
    }
    #artiste img{
        object-fit: cover;
        width: 454px;
        height: 300px;
        justify-self: center;
    }
    #artiste>article>h3{
        justify-self: center;
        font-family: Gloria Hallelujah;
        font-size: 18px;
    }
    #artiste>article>div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 14px;
    }
    .site{
        color: #000;
        text-decoration: none;
        border: 1px solid #FBBBCD;
        padding: 10px 20px;
    }
    .fa_artiste{
        margin-right: 10px
    }


    .s5{
        max-width: 1440px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 80px 0;
    }
    .s5a1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .s5a1 a{
        color: #000;
        text-decoration: none;
        border: solid 1px #FBBBCD;
        padding: 10px 20px;
    }
    .s5 h2{
        font-family: Gloria Hallelujah;
        font-size: 45px;
        line-height: 45px;
        letter-spacing: 0;
        font-weight: 400;
        
    }
    .s5a2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .s5a2 div {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .s5 h3 a{
        font-family: Gloria Hallelujah;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0;
        text-decoration: none;
        color: #000;
        font-weight: 400;
    }
    .s5a2 img{
        object-fit: cover;
        width: 464px;
        max-height: 500px;
    }
    .read{
        text-decoration: none;
        line-height: 24px;
        font-weight: 600;
        color: #000;
    }

    .s6{
        display: flex;
        flex-direction: column;
        background-color: #cc3900;
        padding: 100px;
    }
    .s6 div{
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    .s6 h2{
        font-family: Gloria Hallelujah;
        font-size: 45px;
        line-height: 45px;
        letter-spacing: 0;
        color: #fff;
    }
    .s6 p{
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0;
        color: #fff;
        padding: 58px 0;
    }
    .s6 a{
        text-decoration: none;
        padding: 10px 20px;
        color: #fff;
        border: solid 1px #fff;
    }
/* Footer */
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1904px;
    margin: auto;
    padding: 20px 0;
}
.fd2{
    display: grid;
    justify-items: center;
    gap: 20px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
footer li{
    list-style: none;
}
footer ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
footer p a{
    text-decoration: none;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ml{
    font-family: Noto Sans;
}