*{
    margin: 0;
    font-family: Noto Sans;
    scroll-behavior: smooth;
}
.orang{
    color: #cc3900;
    &:hover{
        color: #000;
    }
}
a:hover{
    color: #cc3900;
    transition: all 0.3s ease-in-out;
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1904px;
    margin: auto;
    padding: 30px 0;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
header li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
header div{
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
#menu{
    display: none;
}

section{
    max-width: 1440px;
    margin: auto;
}
h1{
    font-size: 45px;
    line-height: 45px;
    font-family: Gloria Hallelujah;
}
section div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 110px 0;
    gap: 40px;
}
h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
    font-family: Gloria Hallelujah;
}
.p5{
    margin-top: 76px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1904px;
    margin: auto;
    padding: 20px 0;
}
.fd2{
    display: grid;
    justify-items: center;
    gap: 20px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    gap: 30px;
}
footer li{
    list-style: none;
}
footer ul a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
footer p a{
    text-decoration: none;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ml{
    font-family: Noto Sans;
}

@media screen and (max-width:1024px) {
    header{
        gap: 20px;
        justify-content: space-between;
        margin: 0 20px;
    }
    #menu{
        display: block;
    }
    header ul, header div{
        display: none;
    }
    section{
        margin: 0 30px;
    }
    section div{
        grid-template-columns: 1fr 1fr;
    }
    footer{
        gap: 20px;
    }
    
}

@media screen and (max-width:767px) {
    section div>article>img{
        width: 100%;
    }
    .fd2 ul{
        display:none;
    }

    
}